.app {
  display: block;

  &__preloader {
    display: block;
    left: 50%;
    margin: auto;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
  }

  &__preloader-text {
    color: #2E2E2E;
    display: inline-block;
    font-size: 20px;
    margin-right: 10px;
    vertical-align: middle;
  }

  &__table {
    width: 100%;
  }

  &__spinner {
    display: inline-block;
    margin: auto;
    vertical-align: middle;
  }

  &__new-todo {
    display: block;
    margin: 10px auto;
    width: fit-content;
  }

  &__form {
    margin: 10px;
  }

  &__form-text {
    display: block;
    padding-bottom: 10px;
    width: 300px;
  }

  &__table-text {
    display: inline-block;
    vertical-align: middle;
  }

  &__form-btn {
    display: block;
    margin: auto;
  }

  &__btn-container {
    display: inline-block;
    height: 40px;
    vertical-align: middle;
    width: 40px;
  }

  &__edit-btn {
    display: none;
  }

  &__add-loader {
    margin: 20px 5px;
  }
}

.mat-row {
  &:hover .app__edit-btn {
    animation: edit .6s ease-out;
    display: inline-block;
  }
}

@keyframes edit {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}
