.confirm {

  &__btn-block {
    display: flex;
    justify-content: center;
  }
  &__btn {
    margin: 0 20px;
  }

  &__text {
    text-align: center;
  }

  &__progress {
    margin-top: 60px;
  }
}
