<form *ngIf="progress === 0" [formGroup]="editForm" (submit)="editTodo()">
  <mat-form-field class="edit__form-text">
  <textarea class="edit__form-input" rows="4" matInput placeholder="Исправьте текст"
            [value]="text" (keyup)="onKey($event)" name="text" formControlName="text"></textarea>
  </mat-form-field>
  <button type="submit" class="edit__btn" mat-raised-button color="primary">сохранить</button>
</form>
<button class="edit__btn" mat-raised-button color="primary" *ngIf="progress === 0" (click)="onNoClick()">отмена</button>

<mat-progress-bar class="edit__progress" mode="determinate" [value]="progress" *ngIf="progress > 1"></mat-progress-bar>
